body {
  margin: 10vh auto;
}
.panel {
  border: 1px #bbb solid;
  border-radius: 4px;
  box-sizing: border-box;
  height: auto;
  padding: 20px;
}
.title {
  text-align: center;
}
#button_row .columns{
  text-align: center;
}
#rolling_button {
  float: left;
}
#walking_button {
  float: right;
}

#rolling_panel {
  display: none;
  text-align: center;
}
#standing_panel {
  text-align: center;
}
#walking_panel {
  display: none;
  text-align: center;
}

.control {
  color: #bbb;
}
.control i {
  margin: 20px;
}
.control i:hover {
  color: #777;
}

.button-primary {
  background-color: #777;
}

#urdf {
  text-align: center;
}
